<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud Migration Maturity Test</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
<footer>
    <br>
    <div class="container text-center">
        <!-- 
        <div>
            <address>Built with Python and Bootstrap. Hosted (will be) on <a class="text-dark" rel="nofollow" href="https://aws.amazon.com">AWS</a>.</address>
        </div> -->
        <div>
            <address>This is an open-source project built with Python and Bootstrap. Please consider contributing. &copy; 2024, <a href="https://github.com/bugrakilic" target="_blank">Bugra Kilic</a>.</address>
        </div>
    </div>
</footer>
</html>
